.box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.box-footer a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-size: 12px;
}